.alert{
    border: 1px solid transparent;
    border-radius: 0.5rem;
}
.alert-danger{
    color: #fff;
    background-color: #ff0000;
    padding: 10px;
}
.app-rating{
    color: #f0c040;
    margin: 0.1rem;
}